<a href="https://colab.research.google.com/github/dmstj0162/py12/blob/master/notebook/ch2_code01_py12_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![대체 텍스트](https://)# ch2_code01.ipynb
## py12

In [0]:
# ch2_01_numeric.py
#
print("숫자형: 정수") # 동적타이핑(Dynamic typing)- 에러 방지, 쉽게 코딩을 할 수 있도록 하기 위해서
a = 123
a = -178
# a = 0
# a
print(a)

숫자형: 정수
-178

In [0]:
a1 = 123
a2 = -178
a3 = 0
print(a1,a2,a3)
a

123 -178 0

-178

In [0]:
print("a1 = ",a1)

a1 =  123

### 다음과 같이 출력해 보세요.
a1 = 123 a2 =-178 a3=0

In [0]:
print("a1 = ",a1, "a2 = ",a2, "a3 = ",a3)

a1 =  123 a2 =  -178 a3 =  0

### 숫자형: 실수
> 파이썬에서 실수를 표현해보자.

In [0]:

print("숫자형: 실수")
a1 = 1.2
a2= -3.48
a3 = 4.24e10
a4 = 4.24e-10
a1,a2,a3,a4

숫자형: 실수

(1.2, -3.48, 42400000000.0, 4.24e-10)

In [0]:
print("숫자형: 8진수와 16진수")
a = 0o177
print(a)
a = 0x8FF # hexadecimal : 16진수, 0 ~ F(15)
print(a)
a = 0xABC
a

숫자형: 8진수와 16진수
127
2303
2748

### 숫자형 : 연산자와 연산

In [0]:
print("숫자형: 연산자와 연산")
a = 3
b = 4
print(a + b)
print(a - b)
print(a * b)
print(a / b)

숫자형: 연산자와 연산
7
-1
12
0.75

In [0]:
print(a ** b) # 지수
print(a % b) # 나머지
print(b % a)
print(a // b) # 몫

81
3
1
0

In [0]:
14 // 3, 14 % 3

(4, 2)

### 문자열 정의와 출력

In [0]:
# ch2_02_string.py
# "Life is too short, you need python"
# 'Life is too short, you need python'
# """Life is too short, you need python"""
# '''Life is too short, you need python'''


print("문자열: ")
food = "Python's favorite food is perl"
print(food)
food

문자열:
Python's favorite food is perl

"Python's favorite food is perl"

In [0]:
food = 'Python's favorite food is perl'  # Error

In [0]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

In [0]:
print("문자열: \ 이용")
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food)
print(say)
say

### 이스케이프 코드를 사용한 출력

In [0]:
# 이스케이프 코드
print("문자열: 이스케이프 코드 이용")
multiline = "Life is too short\nYou need python"
multiline
print(multiline)

문자열: 이스케이프 코드 이용
Life is too short
You need python

### 여러줄 문자열 처리
# """..."""
# '''...'''

In [0]:
# 여러줄 문자열 처리
multiline = '''
... Life is too short#엔터치면 줄바꿈 일어남
... You need python
... '''
multiline2 = """

인생은 짧고,
파이썬은 필요하다.
"""
multiline3 = """인생은 짧고,
파이썬은 필요하다.
"""

print(multiline)
print(multiline2)
print(multiline3)

Life is too short
You need python



인생은 짧고,
파이썬은 필요하다.

인생은 짧고,
파이썬은 필요하다.

### 문자열 연산

In [0]:

################################################
print("문자열 연산: 더하기")
head = "Python"
tail = " is fun!"
head + tail

문자열 연산: 더하기

'Python is fun!'

In [0]:
print("문자열 연산: 곱하기")
a = "python"
a * 2

문자열 연산: 곱하기

'pythonpython'

In [0]:
#####################################
# multistring.py
print("=" * 50)
print("I am now coding Python!")
print("=" * 50)
#####################################

==================================================
I am now coding Python!
==================================================

In [0]:
# 내장함수: len()
print("문자열 연산: 길이 구하기 - len()")
a = "Life is too short."
len(a)

문자열 연산: 길이 구하기 - len()

18

### 문자열 인덱싱, 슬라이싱
> 문자열은 문자들의 집합(또는 배열)이다.

In [0]:
#####################################
#
# 문자열 인덱싱과 슬라이싱
#
#####################################
print("문자열: 인덱싱이란?")
a = "Life is too short, You need Python"
print(a[3])
print(a[15])
print(a[30])

문자열: 인덱싱이란?
e
r
t
ERROR! Session/line number was not unique in database. History logging moved to new session 59

In [0]:
# "파이썬은 0부터 숫자를 센다.(인덱싱)"
print("문자열: 인덱싱 활용")

a = "Life is too short, You need Python"
#a[0]

#a[12]

a[-1]#맨끝

# a[-0] #그냥0
#a[-2]
#a[-5]
#a[-12]

문자열: 인덱싱 활용

'n'

In [0]:
#####################################
print("문자열: 슬라이싱이란?")#단어를 선택할 때
a = "Life is too short, You need Python"
# Life 를 뽑아낼려면 어떻게?
b = a[0] + a[1] + a[2] + a[3]  # 문자열 뎌하기 연산
b

문자열: 슬라이싱이란?

'Life'

In [0]:
# slicing (슬라이싱)
a[0:4]  # 0 <= index < 4

'Life'

In [0]:
a[0:5]
print(a[5:7])
print(a[12:17])

is
short

In [0]:
# : 의 사용
print(a[:4])
print(a[19:])
print(a[:17])

Life
You need Python
Life is too short

In [0]:
a = "Life is too short, You need Python"
a

'Life is too short, You need Python'

In [0]:
a[0:4]
a[:4]
a[:]

'Life is too short, You need Python'

In [0]:
# a[19:-7] ?
a[19:-7]

'You need'

In [0]:
print("문자열: 슬라이싱 응용?")
a = "20190909Sunny"
date = a[:8]
weather = a[8:]
date,weather

문자열: 슬라이싱 응용?

('20190909', 'Sunny')

In [0]:
a = "20190917Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
year,day,weather

('2019', '0917', 'Rainy')

In [0]:
# "Pithon"이라는 문자열을 "Python"으로 바꾸려면?
a = "Pithon"
print(a[1])
a[1] = 'y'  # Error (immutable한 자료형)

i

TypeError: ignored

In [0]:
#################
a = "Pithon"
print(a[:1])
print(a[2:])
a[:1] + 'y' + a[2:]  # Python
a
a,a[:1],a[2],a[:1]+'y'+a[2:]

P
thon

('Pithon', 'P', 't', 'Python')

ERROR! Session/line number was not unique in database. History logging moved to new session 61

## 문자열 포매팅과 출력

In [0]:
# ch2_03_string_formating.py

print("문자열: 포매팅이란?")
# 1. 숫자 바로 대입
"I eat %d apples." % 3 # %d는 포매팅 형식

문자열: 포매팅이란?

'I eat 3 apples.'

In [0]:
# 2. 문자열 바로 대입
"I eat %s apples." % "five" #문자열은 %s

'I eat five apples.'

In [0]:
# 3. 숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [0]:
# 4. 2개 이상의 값 넣기
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)  # , day   # Error
# "I ate %d apples. so I was sick for %s days." % (number, day)
# 소괄호 안에 콤마(,)로 구분하여 각각의 값을 넣어 준다.

'I ate 10 apples. so I was sick for three days.'

In [5]:
print("문자열: 포맷 코드")
# %d, %s, %c, %f, %o, %x, %%# 퍼센트 출력하고 싶을떄
# %s, 묵시적 형변환
# "I have %s apples" % 3
# "rate is %s" % 3.234

# "Error is %d%." % 98
"Error is %d%%." % 98

문자열: 포맷 코드

'Error is 98%.'

In [11]:
###############################################-p60
print("문자열: 포맷 코드와 숫자 함께 사용하기")
# 1. 정렬과 공백
# "%-5s" % "hi"
"%-4sjane." % "hi"

문자열: 포맷 코드와 숫자 함께 사용하기

'hi  jane.'

In [15]:
# 2. 소수점 표현하기
# "%0.4f" % 3.42134234# 이하4째자리
"%10.4f" % 3.42134234#열칸을 잡고 오른쪽 정열

'    3.4213'

### format() 함수 이용한 문자열 출력

In [17]:
print("문자열: format 함수를 사용한 포매팅")
# 1. 숫자 바로 대입하기
# "I eat {0} apples".format(3) 
"I eat {0} {1} apples".format(3, 4)

문자열: format 함수를 사용한 포매팅

'I eat 3 4 apples'

In [19]:
# 2. 문자열 바로 대입하기
# "I eat {0} apples".format("five")
"I eat {0} apples from {1} boxes".format("five", "three")

'I eat five apples from three boxes'

In [21]:
# 3. 숫자 값을 가진 변수로 대입하기
number = 3
# "I eat {0} apples".format(number)
"I eat {0} apples".format(number + 1)

'I eat 4 apples'

In [22]:
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [23]:
# 이름으로 넣기
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [24]:
# 인덱스와 이름을 혼용해서 넣기
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [26]:
#
######################################
# 왼쪽 정렬/ 오른쪽 정렬
# "{0:<10}".format("hi")
"{0:>10}".format("hi")

'        hi'

In [27]:
# 가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [30]:
# 공백 채우기
# "{0:=^10}".format("hi")
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [31]:
# 도전하기
 "{0:<10}{1:>10}".format("hi",'hcit')

'hi              hcit'

In [34]:
#########################################

# 소수점 표현하기
y = 3.42134234
# "{0:0.4f}".format(y)
# "{0:10.4f}".format(y)
# # { 또는 } 문자 표현하기
"{{ and }}".format()

'{ and }'

In [36]:
##########################
##### f 문자열 포매팅 #####
##### .format() 대체
##########################
print("문자열: f 문자열 포매팅")
name = "홍길동"
age = 30
# f"나의 이름은 {name}입니다. 나이는 {age}입니다."

age = 30
f"나는 내년이면 {age+1}살이 된다."

문자열: f 문자열 포매팅

'나는 내년이면 31살이 된다.'

In [37]:
# 딕셔너리는 f 문자열 포매팅에서 다음과 같이 사용
d = {"name": "홍길동", "age": 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [42]:
# 정렬
print(f'{"hi":<10}')  # 왼쪽 정렬
f'{"hi":>10}'  # 오른쪽 정렬
print(f'{"hi":^10}')  # 가운데 정렬

hi
    hi

In [43]:
# 공백 채우기
y = 3.42134234
f"{y:0.4f}"  # 소수점 4자리까지만 표현
f"{y:10.4f}"  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

'    3.4213'

In [44]:
# { } 문자를 표시
f"{{ and }}"

'{ and }'

In [47]:
##############################################
print("문자열: 관련 내장 함수들")
# 문자 개수 세기(count)
a = "hobby"
a.count("y")

문자열: 관련 내장 함수들

1

In [49]:
# 위치 알려주기1(find)
a = "Python is the best choice"
# a.find("b")
a.find("k")  # what value?

-1

In [52]:
# 위치 알려주기2(index)
a = "Life is too short"
# a.index("t")
a.index("k")

ValueError: ignored

In [55]:
# 문자열 삽입(join)
# ",".join("abcd")
",".join(["a", "b", "c", "d"])

'a,b,c,d'

In [57]:
# 소문자를 대문자로 바꾸기(upper)
# a = "hi"
# a.upper()
# 대문자를 소문자로 바꾸기(lower)
a = "IoT"
a.lower()

'iot'

In [59]:
# 왼쪽 공백 지우기(lstrip)
a = " hi "
# a.lstrip()
# # 오른쪽 공백 지우기(rstrip)
a.rstrip()

' hi'

In [60]:
# 양쪽 공백 지우기(strip)
a.strip()

'hi'

In [61]:
# 문자열 바꾸기(replace)
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [63]:
# 문자열 나누기(split) -> 리스트로 변환하여 반환
a = "Life is too short"
# a.split()
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

In [64]:

#### 도전하기 #####
# format 함수 또는 f 문자열 포매팅을 이용해서 '!!!python!!!' 문자열을 출력해보시오.
"{0:!^12}".format("python")
f'{"python":!^12}'

'!!!python!!!'