<a href="https://colab.research.google.com/github/dmstj0162/py12/blob/master/mid_exam_py12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 파이썬활용 중간고사 풀이

### 문제1. 다음 식의 연산 결과는?

In [1]:
a = 5
b = 3
a**b # a**b 에서 **은 a의 b제곱을 나타내는 연산자입니다. 따라서 답은 125 입니다.

125

###문제2. 다음 문자열 a에 대하여 슬라이싱을 한 결과는 ?

In [6]:
a = "Life is too short, You need Python!"
a[-16:-8] # -는 문자를 맨 뒤에서부터 세라는 뜻입니다. 따라서 답은 'You need'입니다.

'You need'

###문제3. 다음 list a의 인덱싱 결과는?

In [7]:
a = [1, 2, (3, 4),['a', 'b',['My','Life', 'Good']]]
a[3][-1][0] # 첫번째 a[3]은 ['a', 'b',['My','Life', 'Good']]]를 나타냅니다.
            # 두번째 a[-1]은 뒤에서부터 세기 때문에 ['My','Life', 'Good']입니다.
            # 세번째 a[0]은 'My'를 나타냅니다.
            # 따라서 답은 'My'입니다.

'My'

###문제4. 다음 tuple t1의 슬라이싱 결과는?

In [8]:
t1 = (0, 1, "s", "t", "u")
t1[2:-2] # 슬라이싱을 하게 되면 결과가 ('s',)로 나오게 되는데 튜플은 한 개의 요소만 가질경우 꼭 콤마(,)를 붙여야 하기 때문입니다.

('s',)

###문제5. 다음 bool 값 출력 중 정확한 것은?

In [9]:
bool([0,1,2]), bool([(0)]), bool((0)), bool((0,))
# bool([0,1,2])는 값이 리스트 이므로 참
# bool([(0)])은 값이 리스트 이므로 참
# bool((0))은 값이 0이기 때문에 거짓
# bool((0,)) 튜플에 요소가 담겨 있기 때문에 참

(True, True, False, True)

###문제6. 다음 조건문을 1줄 코드로 변경하시오.

In [0]:
score = 80
if score>= 60:
  message = "success"
else:
  message = "failure"
# 파이썬의 조건부 표현식을 사용하면 1줄 코드로 바꿀 수 있다.
# message = "success" if score>=60 else "failure"

### 문제7. 다음 코드의 실행 결과는?

In [12]:
games = ["A", "B", "C"]

for cnt in range(len(games)):
  print(cnt, games[cnt], end=',')
# print문은 여러 항목들을 구분할 때, 항목 사이끼리 원 스페이스 바로 떨어져있고 end 속성으로 줄을 바꾸지 않고 ,를 넣었다

0 A,1 B,2 C,

###문제8. 다음의 결과가 출력되지 않는 것은?
'I ate 10 apples. so i was sick for three days.'

In [0]:
# code start
number= 10
day= "three"

#"I ate {0} apples. so I was sick for {1} days", format(10, day) 
#f"I ate {number} apples. so I was sick for {day} days."
#f"I ate {number} apples. so I was sick for {'three'} days."
#"I ate {0} apples. so I was sick for {1} days.", format(number=10, day) format 함수의 입력값이 number만 설정 되어 있어서 오류가 납니다.

### 문제9. 리스트 내포를 사용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한 줄 코드를 작성하시오.

In [14]:
sum([num for num in range(1, 1001) if num % 5==0]) 
# 5의 배수를 구할려면 5로 나누었을 때 나머지가 0 이어야 하고 5의 배수들을 모두 더하는 것이므로 sum함수를 사용해야 합니다.

100500

### 문제10. 4개 과목의 평균 성적을 구하시오. [a],[b]에 적합한 코드는?

In [15]:
subjects['python', 'english','math', 'science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in [a]. _____(subjects, scores):
  total += score
  print(subject, score)
print("평균 점수 = (0), format([b].____"))

# zip, total/len(subjects)을 사용해야 합니다.
# total을 subjects의 총 갯수로 나누는 것이 평균이기 때문입니다.

SyntaxError: ignored